*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.5;
    font-family: Manrope;
    color: #495057;
    background-color: #fff;
}

h1, h2, h3 {
    color: #212529;
    font-weight: 600;
}

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 85rem;
}

h1 {
    font-size: 1.625rem;
}

h2,h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

h4 {
    font-size: .875rem;
    color: #212529;
    font-weight: 600;
}

li {
    list-style: none;
}

strong {
    color: #212529;
    font-size: 1.4375rem;
    font-weight: 600;
}

img, svg {
    width: 100%;
    height: auto;
    display: block;
}

button, .c-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.c-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid #E9ECEF;
}

.c-search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #DCDEDD;
    border-radius: 6px;
    padding: .75rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.10);
}

.c-search__input {
    width: 45vw;
    border: none;
    text-align: center;
}

.c-nav {
    display: flex;
    gap: 0.5rem;
}

.c-nav__button {
    list-style: none;
}

.c-nav__item {
    text-decoration: none;
    color: #212529;
    font-weight: 600;
}

.c-start {
    border-radius: 6px;
    border: 1px solid #DCDEDD;
    padding: .75rem 1.25rem;
    margin-right: 1.5rem;
}

.c-main__header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.c-main__section {
    padding: 3rem 3rem;
    background-color: #F8F9FA;
    border-bottom: 1px solid #E9ECEF;
}

.c-main__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    margin-top: 3rem;
}

.c-main_info {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.c-video {
    position: relative;
}

.c-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 100%;
    padding: 1rem;
}

.c-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.c-list__item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.c-list__icon {
    height: 1.3rem;
    width: auto;
    fill: #212529;
}

.c-main_info {
    border-top: 4px solid #00A35D;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.c-balance {
    margin-top: 1.5rem;
}

.c-currentbalance {
    color: #00A35D;
    font-size: 1.4375rem;
    font-weight: 600;
}

.c-buttonfund {
    background-color: #00A35D;
    padding: 1rem 1.25rem;
    color: white;
    border-radius: .375rem;
}


.u-smalllight {
    color: #868E96;
    font-size: 13px;
    line-height: 1.25rem;
}

.c-mainpost {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.c-avatar {
    width: 1.5rem;
    height: auto;
    margin-left: -0.4rem;
}

.c-storyleft {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.c-reward {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 6px;
    border: 1px solid #DCDEDD;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

.allbackers {
    display: flex;
}

.c-reward__buttons {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
}

.c-reward__details {
    padding: 8px 16px;
    border-radius: 0.25rem;
    border: 1px solid #DCDEDD;
    text-align: center;
}

.c-reward__pledge {
    background-color: #00A35D;
    border-radius: .25rem;
    color: white;
    text-align: center;
}

@media (width <= 1100px) {
    .c-mediumscreen {
        display: none;
    }

    .c-mainpost {
        grid-template-columns: 1fr;
    }
}

@media (width <= 660px) {
    .c-search {
        display: none;
    }

    .c-list {
        flex-direction: column;
    }
}